---
layout: default
permalink: /examples/
title: Examples
---

<div class="index_intro">
  <p>
    Decision situations and case studies applying concepts and methods to help
    support decision making in the face of
    <a href="../../theory/multiple-plausible-futures"
      >multiple plausible futures</a
    >.
  </p>
  <p>Pages are listed alphabetically.</p>
</div>

<div class="posts">
  {% assign examples = site.examples | sort_natural: "permalink" %} {% for post
  in examples %}
  <article class="post">
    {% if post.layout=="under-construction" or post.layout=="redirected" %}
    <h1>{{ post.title }}</h1>
    <div class="author_title">{{post.citation}}</div>
    {% else %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1>{{ post.title }}</h1>
      <div class="author_title">{{post.citation}}</div>
    </a>
    {% endif %}
    <div class="entry">{{ post.excerpt }}</div>

    {% unless post.layout=="under-construction" or post.layout=="redirected" %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    {% endunless %}
  </article>
  {% endfor %}
</div>
