---
layout: default
permalink: /tools/
title: Tools
subtitle: Software tools to help support decision making in the face of multiple plausible futures.
---

<div class="index_intro">
  <blockquote>
    Don't have a programming or modelling background? Start with <a href="../theory/multiple-plausible-futures/">multiple plausible futures</a> to learn what to ask for.
  </blockquote>
  <p>
    Pages are listed alphabetically.
  </p>
</div>

<div class="posts">
  {% assign tools = site.tools | sort_natural: "permalink" %} {% for post in
  tools %}
  <article class="post">
    {% if post.layout=="under-construction" or post.layout=="redirected" %}
    <h1>{{ post.title }}</h1>
    {% else %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1>{{ post.title }}</h1>
    </a>
    {% endif %}
    <div class="entry">{{ post.excerpt }}</div>

    {% unless post.layout=="under-construction" or post.layout=="redirected" %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    {% endunless %}
  </article>
  {% endfor %}
</div>
