
//
// VARIABLES
//

// Colors
$blue: #5198a8;

// Grays
$black: #000;
$darkerGray: #424143;
$darkGray: #333;
$gray: #a0a0a1;
$lightGray: #ececec;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$family: -system-ui, -apple-system, Roboto, Arial, sans-serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}