---
layout: default
---

<article class="page">
  

  <div class="entry">
    <div>{{page.excerpt}}</div>
    <h1>When to use</h1>
    <div>{{page.purpose}}</div>
    {% assign requirements = page.requirements | strip_newlines %} {% unless
    requirements=="" %}
    <br />
    <div>{{requirements}}</div>
    {% endunless %}
    <h1>How</h1>
    <div>{{page.decomposition}}</div>
    {% for tool in page.tools%} {% if forloop.first %}
    <h2>Tools</h2>
    {%endif%}
    <li>
      <a href="{{site.baseurl}}/tools/{{tool.slug}}/">{{tool.name}}</a>:
      {{tool.description}}
    </li>
    {% endfor %} {% for link in page.also_see%} {% if forloop.first %}
    <h1>Also see</h1>
    {%endif%}
    <li>
      <a href="{{site.baseurl}}{{link.permalink}}">{{link.name}}</a>:
      {{link.description}}
    </li>
    {% endfor %} {% for link in page.examples %} {% if forloop.first %}
    <h1>Selected examples</h1>
    {%endif%}
    <li class="hangingindent">{{link}}</li>
    {% endfor %}
    <h1>Resources</h1>
    {% for link in page.further_reading%}
    <li class="hangingindent">{{link}}</li>
    {% endfor %} {% for ref in page.references%} {% if forloop.first %}
    <h1>Notes</h1>
    {%endif%}
    <li class="footnote hangingindent">{{ref}}</li>
    {% endfor %} {% assign content = post.content | strip_newlines %}{% unless
    content=="" %}
    <hr />
    <h1>Additional comments</h1>
    <div>{{ content }}</div>
    {%endunless%}
  </div>
</article>
