---
layout: default
---

<article class="page">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <div>{{page.excerpt}}</div>
    <h1>When to use</h1>
    <div>{{page.purpose}}</div>
    <br />
    <div>{{page.requirements}}</div>
    <h1>How</h1>
    <div>{{page.decomposition}}</div>
    <h2>Tools</h2>
    {% for tool in page.tools%}
    <li>
      <a href="{{site.baseurl}}/tools/{{tool.slug}}/">{{tool.name}}</a>:
      {{tool.description}}
    </li>
    {% endfor %}
    <h1>Also see</h1>
    {% for link in page.also_see%}
    <li>
      <a href="{{site.baseurl}}{{link.permalink}}">{{link.name}}</a>:
      {{link.description}}
    </li>
    {% endfor %}
    <h1>Resources</h1>
    {% for link in page.further_reading%}
    <li>{{link}}</li>
    {% endfor %}
    <h1>Selected examples</h1>
    {% for link in page.examples %}
    <li>{{link}}</li>
    {% endfor %} {% assign content = post.content | strip_newlines %}{% unless
    content=="" %}
    <hr />
    <h1>Additional comments</h1>
    <div>{{ content }}</div>
    {%endunless%}
  </div>
</article>
