<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
      site.description }}
    </title>
    {% seo title=false %} {% include meta.html %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/assets/style.css"
    />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.baseurl }}/images/favicon-32x32.png"
    />
  </head>

  <body>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"
              ><img
                src="{{ site.baseurl }}{{ site.avatar }}"
                alt="{{ site.title }}"
            /></a>

            <nav>
              <a href="{{ site.baseurl }}/theory/">Theory</a>
              <a href="{{ site.baseurl }}/tools/">Tools</a>
              <a href="{{ site.baseurl }}/examples/">Examples</a>
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="{{ site.baseurl }}/search">&#128269;</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">{{ content }}</div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
            <div class="license">
              <p xmlns:cc="http://creativecommons.org/ns#">
                This work is licensed under
                <a
                  href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
                  target="_blank"
                  rel="license noopener noreferrer"
                  style="display: inline-block"
                  >CC BY 4.0&nbsp;<img
                    style="
                      height: 22px !important;
                      margin-left: 3px;
                      vertical-align: text-bottom;
                    "
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img
                    style="
                      height: 22px !important;
                      margin-left: 3px;
                      vertical-align: text-bottom;
                    "
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
                /></a>
              </p>
            </div>
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
