<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
      site.description }}
    </title>
    {% seo title=false %} {% include meta.html %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/assets/style.css"
    />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.baseurl }}/images/favicon-32x32.png"
    />
	
	<script src="https://kit.fontawesome.com/5cea07ba82.js" crossorigin="anonymous"></script>
	
  </head>

  <body>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"
              ><img
                src="{{ site.baseurl }}{{ site.avatar }}"
                alt="{{ site.title }}"
            /></a>

            <nav>
              <a href="{{ site.baseurl }}/theory/" {% if page.url contains "/theory/" %}class="active"{% endif %}>Theory</a>
              <a href="{{ site.baseurl }}/tools/" {% if page.url contains "/tools/" %}class="active"{% endif %}>Tools</a>
              <a href="{{ site.baseurl }}/examples/" {% if page.url contains "/examples/" %}class="active"{% endif %}>Examples</a>
              <a href="{{ site.baseurl }}/about" {% if page.url contains "/about/" %}class="active"{% endif %}>About</a>
              <a href="{{ site.baseurl }}/search"><i class="fas fa-search"></i></a>
            </nav>
          </header>
        </div>
      </div>
	  <div class="wrapper-main">
		<div id="bar">
		{% if page.subtitle != nil %}
			<div id="title">{{ page.subtitle }}</div>
		{% else %}
			<div id="title">{{ page.title }}</div>
		{% endif %}	
		</div>
        <div id="main" role="main" class="container">{{ content }}</div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <span style="font-size: 2em; color: white;">
          <a href="https://github.com/uncertainfutures/uncertainfutures" target="_blank"><i class="fab fa-github"></i></a>
				</span>
            <div class="license">
              <p xmlns:cc="http://creativecommons.org/ns#">
                This work is licensed under
                <a
                  href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
                  target="_blank"
                  rel="license noopener noreferrer"
                  style="display: inline-block"
                  >CC BY 4.0&nbsp;<img
                    style="
                      height: 22px !important;
                      margin-left: 3px;
                      vertical-align: text-bottom;
                    "
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img
                    style="
                      height: 22px !important;
                      margin-left: 3px;
                      vertical-align: text-bottom;
                    "
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
                /></a>
              </p>
            </div>
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
