---
layout: default
---

<article class="page">
  {% if page.banner == "WIP" %}
  <div class="banner">
    This page is a work in progress. We welcome additions related to decision
    making in the face of multiple plausible futures on
    <a href="https://github.com/josephguillaume/uncertainfutures">GitHub</a>.
  </div>
  {% endif %}

  <h1>{{ page.title }}</h1>

  <div class="entry">
    <div>{{page.excerpt}}</div>
    <br />
    <div>{{page.summary}}</div>
    <h1>Approaches</h1>
    <div>{{page.approaches}}</div>
    {% for ref in page.cases%} {% if forloop.first %}
    <h1>Selected case studies</h1>
    {%endif%}
    <li>{{ref}}</li>
    {% endfor %} {% for ref in page.references%} {% if forloop.first %}
    <h2>References</h2>
    {%endif%}
    <li>{{ref}}</li>
    {% endfor %}
  </div>
</article>
