---
layout: default
---

<article class="page">


  <div class="entry">
    <div>{{page.excerpt}}</div>
    <h1>When to use</h1>
    <div>{{page.purpose}}</div>
    <br />
    <div>{{page.requirements}}</div>
    <h1>How</h1>
    <div>{{page.decomposition}}</div>
    <h1>Selected examples</h1>
    {% for link in page.examples %}
    <li>{{link}}</li>
    {% endfor %}
    <h1>Resources</h1>
    {% for link in page.further_reading%}
    <li>{{link}}</li>
    {% endfor %} {% for ref in page.references%} {% if forloop.first %}
    <h1>References</h1>
    {%endif%}
    <li>{{ref}}</li>
    {% endfor %}{% assign content = post.content | strip_newlines %}{% unless
    content=="" %}
    <hr />
    <h1>Additional comments</h1>
    <div>{{ content }}</div>
    {%endunless%}
  </div>
</article>
